body {
  font-family: sans-serif;
  margin: 0;
  background: linear-gradient(
    199.92deg,
    #f506ff -3.69%,
    #8310fe 50.31%,
    #3f44ff 66.14%,
    #04cafb 93.89%
  );
  height: 100vh;
  width: 100vw;
}
.gameInfo {
  color: white;
  font-size: 100px;
  text-align: center;
  line-height: 4;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background: #8310fe;
  display: none;
}
.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#ring {
  background-image: url(./src/media/ring.png);
  width: 500px;
  height: 500px;
}
.box::after {
  position: absolute;
  content: '👆';
  font-size: 50px;
  left: 230px;
  bottom: -40px;
}
.left {
  flex: 1;
  align-self: flex-end;
}
.right {
  flex: 1;
  justify-content: space-around;
  color: #fff;
}
.units,
.word {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.word {
  flex-direction: column;
}
ul {
  list-style: none;
  display: flex;
}
li {
  font-size: 40px;
  margin: 10px;
  background: #3f44ff;
  border: 1px solid white;
  width: 37px;
}
.res {
  font-size: 40px;
  font-weight: bold;
}
.res.active {
  position: relative;
}
.res.active::after {
  position: absolute;
  content: '🔻';
  top: -30px;
  left: 30%;
  font-size: 32px;
}
.ava {
  font-size: 80px;
}
.name {
  font-size: 20px;
}
#secret-word {
  padding-top: 40px;
  text-align: left;
}
.letter {
  border: 3px solid white;
  background: #3f44ff;
  font-size: 30px;
  text-align: center;
  margin: 0 4px;
  height: 40px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;
}
.info {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
}
.units {
  padding-top: 40px;
  padding-bottom: 40px;
}

input {
  text-align: center;
  font-size: 20px;
  padding: 5px;
  vertical-align: middle;
  width: 20px;
  background: transparent;
  border: none;
  color: white;
  border: 1px solid white;
}
::placeholder {
  color: white;
}
button {
  border: 1px solid white;
  padding: 9px;
  vertical-align: middle;
  color: white;
  background: transparent;
}
button:disabled,
button[disabled] {
  color: transparent;
  border: none;
}
.wrong {
  border-radius: 8px;
  padding: 10px;
  background: linear-gradient(
    200deg,
    #f506ff -3.69%,
    #8310fe 50.31%,
    #3f44ff 66.14%,
    #04cafb 93.89%
  );
}
